# Common
.DS_Store
.env
.env.local

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend
backend/__pycache__/
backend/venv/
backend/.venv/
backend/*.pyc
